body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none; /* スマホでスクロールを禁止 */
}

#leva__root {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

/**
 * Interface
 */
.interface {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* pointer-events:none; */
  font-family: sans-serif;
}

.explanation {
  background-color: #9ef7fcaa; /* 背景色 */
  border-radius: 20px;
  padding: 40px; /* 内側の余白 */
  position: absolute;
  top: 80%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  text-align: center;
}
.explanation:before {
  border: 1px solid #fff; /* 白い実線 */
  border-radius: 15px;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 16px;
  z-index: -1;
}

.chat_input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1dd;
  width: 80%;
  margin: 20px 0 0;
  font-size: 16px;
  text-align: center;
}


.global_info {
  font-size: 14px;
  background-color: #00000000; /* 背景色 */
  border-radius: 20px;
  padding: 25px; /* 内側の余白 */
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 0;
  text-align: center;
}
.global_info:before {
  border: 1px solid #0008; /* 白い実線 */
  border-radius: 15px;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 16px;
  z-index: -1;
}